*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
    
}
.media{
    justify-content: end;
    /* text-align: end; */
}
.a:hover{
    background-color: red;
    border-radius: 70%;
    padding: 3px;
}
.b:hover{
    background-color: #fff;
    border-radius: 55%;
    padding: 1px;
}
.search{
    border-radius: 90%;
    width:2rem;
    height:1.3rem;
}
.c:hover{
    background-color: #ED0000;
    color:#fff;
}
/* .bg{
    background-color: #ED0000;
   border-radius: 10%;
    border-color: red;
} */

.fs{
    font-size: 11px;
}
.john:hover{
    background-color: #ED0000;
    color:#fff;
}
.img{
    background-image: cover;
}