*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
    
}
.media{
    justify-content: end;
    /* text-align: end; */
}
.a:hover{
    background-color: red;
    border-radius: 70%;
    padding: 3px;
}
.b:hover{
    background-color: #fff;
    border-radius: 55%;
    padding: 1px;
}
.search{
    border-radius: 90%;
    width:2rem;
    height:1.3rem;
}
.c:hover{
    background-color: #ED0000;
    color:#fff;
}
/* .bg{
    background-color: #ED0000;
   border-radius: 10%;
    border-color: red;
} */

.fs{
    font-size: 11px;
}
.john:hover{
    background-color: #ED0000;
    color:#fff;
}
.img{
    background-image: cover;
}
.img:hover{
    background-color: #ED0000;
}
/* .img2{
    background-image: -moz-linear-gradient(white,black),url(https://utouchdesign.com/themes/envato/altroznews/images/news/tech/gadget2.jpg);
} */
 .cap{
    position: absolute;
 }
 .n1{
    border-radius:10%;
   transition: 0.5s;
 }
 .n1:hover{
    transform: scale(0.9);
 }
 .n2{
    transition: 0.5s;
    
 }
 .n2:hover{
    transform: scale(0.9);
 }
 .con{
   
    display: flex;
    gap: 20px;
    
 }
 .heading{
    font-size: 15px;
    font-weight: bold;
    padding: 1em;
   
    
 }
 .img2{
    
    object-fit: "cover";
     border-radius:10%;
     display:flex;
 }
 .news{
    display: inline-block;
    border-radius: 10px;
 }
 .img2:hover{
    transform: scale(0.9);
 }
 .img2:hover{
    transition: 0.2s;
 }